vizdoom_path = ./bin/vizdoom
doom_game_path = ./scenarios/wad/freedoom2.wad
doom_scenario_path = ./scenarios/wad/health.wad

doom_map = map01

living_reward = -1

#12 minutes
episode_timeout = 1000

# Rendering options
screen_resolution = RES_256X144
screen_format = DOOM_256_COLORS8
render_hud = false
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false

window_visible = false 

# Available buttons
available_buttons = 
	{ 
		TURN_LEFT
		TURN_RIGHT

		MOVE_FORWARD
		MOVE_BACKWARD

		TURN_LEFT_RIGHT_DELTA

        ATTACK

		MOVE_RIGHT
		MOVE_LEFT
	}

mode = PLAYER
